* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body, .wrap {
  width: 100%;
}

a {
  text-decoration: none;
  color: #969696;
  font-family: STHeiti, 'Microsoft YaHei', Helvetica, Arial, sans-serif;
  outline: 0;
}

#QZhead2 {
  height: 100rpx;
  line-height: 100rpx;
  position: relative;
  background: -webkit-linear-gradient(left, #589cf6 0%, #1ab2ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0080FF', endColorstr='#1ab2ff',GradientType=1 );
  background: linear-gradient(to right, #589cf6 0%, #1ab2ff 100%);
}

#QZhead2 .box {
  display: flex;
  flex: 1;
  margin: 0 24rpx;
}
#QZhead2 .box image {
    width: 26rpx;
    height: 40rpx;
    margin-top:32rpx;
    margin-right: 20rpx;
}
#QZhead2 .box view {
  flex: 1;
  color: #fff;
  font-size: 40rpx;
  text-align: center;
  font-weight: bold;
}

#QZhead2 .box > view {
  display: inline-block;
  flex: 0 0 80rpx;
  order: -1;
  width: 60rpx;
  height: 66rpx;
  background-size: auto 60rpx;
  cursor: pointer;
  margin-top: 16rpx;
}
.headtip {
    padding-top: 20rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.search {
    width: 84%;
    height: 80rpx;
    position: relative;
}
.search .ipt {
    width: 90%;
    height: 70rpx;
    margin: 5rpx auto;
    border-radius: 20rpx;
    border: 1px solid #eee;
    text-indent: 70rpx;
    padding-left: 10px;
}
.search .icon {
    position: absolute;
    top: 22rpx;
    right:50rpx;
}
.more {
    width: 16%;
    text-align: center;
}

.morelist {
    padding:0;
    width: 200rpx;
    position: absolute;
    right: 20rpx;
    top: 100rpx;
    z-index: 100;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}
.morelist .list {
    border-bottom: 1px solid #eee;
    height: 80rpx;
    line-height: 80rpx;
    color: #333;
    text-align: center;
}
.morelist .list:last-child {
    border-bottom: none;
}

.downl_wrap {
  background: #fff;
  padding: 20rpx;
  position: relative;
}

.downl_wrap .info {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.downl_wrap .info .left {
    width: 20%;
}
.downl_wrap .info .center {
    width: 55%;
    padding-left: 10rpx;
    text-align: left;
}
.downl_wrap .info .right {
    width: 25%;
}

.downl_wrap .info image {
  width: 100rpx;
  height: 100rpx;
  -webkit-border-radius: 12rpx;
  -moz-border-radius: 12rpx;
  border-radius: 12rpx;
}

.downl_wrap .info .bt {
  font-size: 36rpx;
  font-weight: bold;
  color: #444;
  margin: 10rpx 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.downl_wrap .info .txt {
  width: 100%;
  margin: 10rpx 0;
  color: #b0b0b0;
  font-size: 28rpx;
  line-height: 32rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.downl_wrap .info .btn {
  overflow: hidden;
}

.downl_wrap .info .btn .btn {
  display: inline-block;
  height: 60rpx;
  line-height: 60rpx;
  border-radius: 10rpx;
  margin: 10rpx 0;
  background: #eee;
  font-size: 28rpx;
  color: #fff;
}

.downl_wrap .info .btn .az_btn {
  background: #3399ff;
  box-shadow: 0 0 16rpx #1ab2ff;
  width: 100%;
}

.boxwrap {
  border-top: 12rpx solid #f5f5f5;
  overflow: hidden;
}

.boxwrap .box_title {
  height: 60rpx;
  line-height: 60rpx;
  padding: 24rpx 24rpx 0;
}

.boxwrap .box_title span, .boxwrap .box_title h2 {
  float: left;
  font-size: 32rpx;
  color: #333;
  font-weight: 600;
}

.txtwrap {
  overflow: hidden;
  margin: 0 24rpx;
}

.txtwrap .txtcont {
  font-size: 36rpx;
  color: #444;
  line-height: 56rpx;
  overflow: hidden;
}

.txtwrap.on .txtcont {
  max-height: initial !important;
}

.txtwrap .txt_foot {
  overflow: hidden;
  margin: 20rpx 0;
  background: linear-gradient(0deg, #fff 40%, rgba(255,255,255,0));
}

.txtwrap .txt_foot span {
  float: left;
  color: #888;
  margin-right: 30rpx;
}

.txtwrap .txt_foot .open_btn {
  line-height: 100rpx;
  text-align: center;
  color: #43ac53;
  font-size: 38rpx;
}

.img_item {
  overflow-x: auto;
  margin: 10rpx 0 24rpx 24rpx;
  padding: 20rpx 0;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.boxwrap .ul {
  border-top: none;
}

ul, ol {
  list-style: none;
}

.img_item .ul .li {
  margin-right:10rpx;
  display: inline-block;
}

.img_item .ul .li image {
  width: 400rpx;
  height: 800rpx;
}

image {
  border: none;
  width: 100%;
  height: auto;
}

.boxwrap {
  border-top: 12rpx solid #f5f5f5;
  overflow: hidden;
}

.boxwrap .box_title {
  height: 60px;
  line-height: 60rpx;
  padding: 24rpx 24rpx 0;
}

.boxwrap .box_title .more {
  float: right;
  font-size: 30rpx;
  color: #666;
}

.like_item {
  overflow: hidden;
  width: 100%;
  overflow-x: auto;
  padding: 20rpx 0;
  overflow-y: hidden;
  white-space: nowrap;
}

.like_item .ul .li {
  display: inline-block;
  background: #fff;
  overflow: hidden;
  width: 200rpx;
  height: 280rpx;
  border-radius: 12rpx;
  position: relative;
  vertical-align: middle;
  text-align: center;
}

.like_item .ul .li .img, .like_item .ul .li .img image {
  width: 120rpx;
  height: 120rpx;
  display: block;
}

.like_item .ul .li .img {
  margin: 30rpx auto 0;
  display: block;
}

.like_item .ul .li .name {
  font-size: 28rpx;
  color: #333;
  text-align: center;
  margin: 10rpx;
  overflow: hidden;
  height: 36rpx;
  line-height: 36rpx;
  font-weight: bold;
}

.like_item .ul .li .downl_btn {
  display: block;
  width: 110rpx;
  height: 44rpx;
  line-height: 44rpx;
  border-radius: 6rpx;
  margin: 20rpx auto;
  color: #3399ff;
  font-size: 28rpx;
  border: 1px solid #3399ff;
  text-align: center;
}
.Cont1 {
  display: block;
  padding: 0 24rpx;
  overflow: hidden;
}
.Cont1 .ul {
  display: block;
  overflow: hidden;
}
.Cont1 .ul .li {
  float: left;
  width: 25%;
  text-align: center;
  margin-bottom: 20rpx;
}
.Cont1 .ul .li .C1-explain {
  display: block;
  margin-top: 20rpx;
}
.Cont1 .ul .li image {
  display: inline-block;
  width: 96rpx;
  height: 96rpx;
  border-radius: 20rpx;
}
.C1-explain text {
  color: #333;
  font-size: 24rpx;
  line-height: 30rpx;
  margin-bottom: 20rpx;
  height: 30rpx;
  overflow: hidden;
}
.Cont1 .ul .li .btn {
  display: block;
  clear: both;
  color: #3399ff;
  line-height: 56rpx;
  width: 96rpx;
  border: 1px solid #3399ff;
  border-radius: 6rpx;
  margin: 0 auto;
}
.news_list {
    overflow: hidden;
    margin: 0 24rpx;
}
.news_list .li {
    overflow: hidden;
    display: flex;
    padding: 24rpx 0;
    border-bottom: 1px solid #f5f5f5;
}
.news_list .li .img {
    display: block;
    margin-right: 24rpx;
}
.news_list .li .img {
    width: 120rpx;
    height: 120rpx;
    border-radius: 10rpx;
}
.news_list .li .img .image {
    width: 120rpx;
    height: 120rpx;
    border-radius: 10rpx;
    display: block;
}
.news_list li .text {
    flex: 1;
}
.news_list .li .text .bt {
    display: block;
    line-height: 40rpx;
    overflow: hidden;
    font-size: 30rpx;
    color: #333;
}
.news_list .li .text text {
    float: left;
    display: block;
    line-height: 40rpx;
    font-size: 26rpx;
    color: #999;
    margin: 16rpx 20rpx 0 0;
}
.des-short {
    max-height:130rpx;
}
.show {
    display: block;
}

.hide {
    display: none;
}
.bottom {
    padding: 0 20rpx 20rpx 20rpx;
}
.bottom .cont {
    text-align: center;
    color: #666;
    font-size: 25rpx;
    line-height: 40rpx;
}
.bottom .bottom_list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottom .bottom_list {
    line-height: 70rpx;
    flex:1;
    text-align: center;
    color: #666;
    font-size: 28rpx;
}

.item {
  overflow: hidden;
  margin: 0 24rpx 20rpx;
}

.item .list {
  padding: 30rpx 0;
  height: 140rpx;
  margin: 0 24rpx;
  border-bottom: 1px solid #f5f5f5;
  display: flex;
}

.item .list .img {
  display: block;
  margin-right: 24rpx;
  position: relative;
  width: 140rpx;
  height: 140rpx;
  border-radius: 6px;
}

.item .list .img image {
  width: 140rpx;
  height: 140rpx;
  border-radius: 6px;
}

.item .list .info {
  flex: 1;
  margin-right: 24rpx;
}

.item .list .downl_btn {
  width: 120rpx;
  height: 52rpx;
  box-shadow: 0 0 24rpx #9fcee5;
  background: -webkit-linear-gradient(left, #589cf6 0%, #1ab2ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#589cf6', endColorstr='#1ab2ff', GradientType=1);
  background: linear-gradient(to right, #589cf6 0%, #1ab2ff 100%);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  line-height: 52rpx;
  margin-top: 44rpx;
  font-size: 34rpx;
}

.item .list .info .bt {
  display: block;
  width: 100%;
  height: 40rpx;
  line-height: 40rpx;
  overflow: hidden;
  font-size: 34rpx;
  font-weight: 600;
  color: #333;
}

.item .list .info p {
  height: 40rpx;
  line-height: 40rpx;
  font-size: 20rpx;
  color: #999;
  margin: 8rpx 0;
  overflow: hidden;
}

.item .list .info p span {
  margin-left: 20rpx;
}

.star {
  width: 132rpx;
  position: relative;
  margin: 10rpx 0;
}

.star, .star span {
  height: 20rpx;
  background: url("../img/icon_star.png") no-repeat 0 -20rpx;
  background-size: 132rpx auto;
}


.component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40rpx;
}
.comment {
    width: 80%;
    height: 80rpx;
    position: relative;
}
.comment .ipt {
    width: 90%;
    height: 70rpx;
    margin: 5rpx auto;
    border-radius: 20rpx;
    border: 1px solid #eee;
    text-indent: 30rpx;
}
.component .publish {
    width: 20%;
    text-align: center;
}
.comment_list {
    padding: 20rpx;
}
.comment_li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #ddd;
    padding: 20rpx 0;
}
.comment_li:last-child {
    border-bottom: none;
}
.comment_li .img image {
    width: 100rpx;
    height: 100rpx;
    border-radius: 50%;
}
.comment_li .comment_text {
    flex:1;
    width: calc(100% - 120rpx);
    margin-left: 20rpx;
}
.comment_li .comment_name {
    color: blue;
    font-size: 32rpx;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.comment_li .comment_cont {
    color: #333;
    font-size: 36rpx;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 10rpx 0;
}
.comment_li .comment_time {
    color: #999;
    font-size: 30rpx;
    width: 100%;
}

