* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body, .wrap {
  width: 100%;
}

a {
  text-decoration: none;
  color: #969696;
  font-family: STHeiti, 'Microsoft YaHei', Helvetica, Arial, sans-serif;
  outline: 0;
}

#QZhead2 {
  height: 100rpx;
  line-height: 100rpx;
  position: relative;
  background: -webkit-linear-gradient(left, #589cf6 0%, #1ab2ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0080FF', endColorstr='#1ab2ff',GradientType=1 );
  background: linear-gradient(to right, #589cf6 0%, #1ab2ff 100%);
}

#QZhead2 .box {
  display: flex;
  flex: 1;
  margin: 0 24rpx;
}
#QZhead2 .box image {
    width: 26rpx;
    height: 40rpx;
    margin-top:32rpx;
    margin-right: 20rpx;
}
#QZhead2 .box view {
  flex: 1;
  color: #fff;
  font-size: 40rpx;
  text-align: center;
  font-weight: bold;
}

#QZhead2 .box > view {
  display: inline-block;
  flex: 0 0 80rpx;
  order: -1;
  width: 60rpx;
  height: 66rpx;
  background-size: auto 60rpx;
  cursor: pointer;
  margin-top: 16rpx;
}
.details_cont {
    overflow: hidden;
    padding: 24rpx;
}
.details_cont .h1 {
    font-size: 40rpx;
    color: #111;
    line-height: 52rpx;
}
.details_cont .info {
    border-bottom: 1px solid #f2f2f2;
    overflow: hidden;
    padding: 20rpx 0;
    display: flex;
}
.details_cont .info text {
    font-size: 28rpx;
    line-height:48rpx;
}
.details_cont .info .text {
    margin-right: 20rpx;
    color: #666;
}
.basebox {
    margin-top: 2rpx;
}
#neirong {
    font-size: 26rpx;
    line-height: 50rpx;
    word-break: break-word;
}
#neirong view {
    font-size: 36rpx;
}
#neirong text {
    color: #FF0000;
}
#neirong image {
    width: 100%;
    height: 800rpx;
}
.turn_page {
    margin-top: 40rpx;
    line-height: 60rpx;
    font-size: 30rpx;
    color: #969696;
}

img{
   width: 200rpx;
   height: 200rpx;
}

.txt_foot,.open_btn {
  text-align: center;
  color: #43ac53;
  font-size: 35rpx;
}
    














