/**
 * @file index.css
 * @author swan
 */
.container {
    padding-bottom: 100rpx;
}
.headtip {
    background: #fff;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100rpx;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index:100;
}

.search {
    width: 100%;
    height: 80rpx;
    position: relative;
}
.search .ipt {
    width: 90%;
    height: 70rpx;
    margin: 5rpx auto;
    border-radius: 20rpx;
    border: 1px solid #eee;
    text-indent: 30rpx;
    padding-left: 10px;
}
.search .icon {
    position: absolute;
    top: 22rpx;
    right:50rpx;
}
.item {
  overflow: hidden;
  margin: 0 24rpx 20rpx;
}

.item .list {
  padding: 30rpx 0;
  height: 140rpx;
  margin: 0 24rpx;
  border-bottom: 1px solid #f5f5f5;
  display: flex;
}

.item .list .img {
  display: block;
  margin-right: 24rpx;
  position: relative;
  width: 140rpx;
  height: 140rpx;
  border-radius: 6px;
}

.item .list .img image {
  width: 140rpx;
  height: 140rpx;
  border-radius: 6px;
}

.item .list .info {
  flex: 1;
  margin-right: 24rpx;
}

.item .list .downl_btn {
  width: 120rpx;
  height: 52rpx;
  box-shadow: 0 0 24rpx #9fcee5;
  background: -webkit-linear-gradient(left, #589cf6 0%, #1ab2ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#589cf6', endColorstr='#1ab2ff', GradientType=1);
  background: linear-gradient(to right, #589cf6 0%, #1ab2ff 100%);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  line-height: 52rpx;
  margin-top: 44rpx;
  font-size: 34rpx;
}

.item .list .info .bt {
  display: block;
  width: 100%;
  height: 40rpx;
  line-height: 40rpx;
  overflow: hidden;
  font-size: 34rpx;
  font-weight: 600;
  color: #333;
}

.item .list .info p {
  height: 40rpx;
  line-height: 40rpx;
  font-size: 20rpx;
  color: #999;
  margin: 8rpx 0;
  overflow: hidden;
}

.item .list .info p span {
  margin-left: 20rpx;
}

.star {
  width: 132rpx;
  position: relative;
  margin: 10rpx 0;
}

.star, .star span {
  height: 20rpx;
  background: url("../img/icon_star.png") no-repeat 0 -20rpx;
  background-size: 132rpx auto;
}


.news_list {
    overflow: hidden;
    margin: 0 24rpx;
}
.news_list .li {
    overflow: hidden;
    display: flex;
    padding: 24rpx 0;
    border-bottom: 1px solid #f5f5f5;
}
.news_list .li .img {
    display: block;
    margin-right: 24rpx;
}
.news_list .li .img {
    width: 120rpx;
    height: 120rpx;
    border-radius: 5px;
}
.news_list .li .img .image {
    width: 120rpx;
    height: 120rpx;
    border-radius: 5px;
    display: block;
}
.news_list li .text {
    flex: 1;
}
.news_list .li .text .bt {
    display: block;
    line-height: 40rpx;
    overflow: hidden;
    font-size: 34rpx;
    color: #333;
}
.news_list .li .text text {
    float: left;
    display: block;
    line-height: 40rpx;
    font-size: 28rpx;
    color: #999;
    margin: 16rpx 20rpx 0 0;
}
.border-bottom {
    height: 100rpx;
    position: fixed;
    bottom:0px;
    left: 0;
    z-index:100;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.08);
    padding-bottom: 20px;
}
.tablist {
    position: fixed;
    top: 100rpx;
    left: 0;
    width: 100%;
    height: 80rpx;
    z-index:100;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.08);
}
.lists {
    margin-top: 180rpx;
}
