.view1 {
    display: flex;
    align-items: center;
    padding: 3.3013333333333335vw 0 3.3013333333333335vw 0;
    margin: 0 4.1066666666666665vw;
    border-bottom: 0.08vw solid #eee;
    justify-content: space-between;
}

.view_word {
    width: calc(100% - 32.20666666666667vw);
    height: 20.853333333333335vw;
    position: relative;
}
.view_word_text {
    font-size: 4.589333333333333vw;
    line-height: 6.28vw;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.view_word_detatis {
    font-size: 2.8986666666666663vw;
    color: #999;
    position: absolute;
    bottom: 0;
}
.view_word_info_source {
    margin-right: 2.013333333333333vw;
    display: inline-block;
}
.view_word_detatis swan-view {
   display:inline-block;
}
.view_image {
    width: 29.951999999999998vw;
    height: 20.048000000000002vw;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 1.208vw;
    background: url(../../node_modules/@smt-ui/component/src/feed-item/assets/empty.png)
        center no-repeat;
    background-size: contain;
}

.view-image-container {
    width: 100%;
    height: 100%;
    bottom: 0;
}
